<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<SCRIPT>

</SCRIPT>

<html>

 <body>
 <canvas id="canvas_StackedBar1" height="400" width="600"></canvas>

 </body>

<div id="dialog1">
  <div class="modal-content " style="width:100%;">
    <div style="float:left; width:40%;">
      <canvas id="canvas_Bar3" height="400" width="600"></canvas>
    </div>

    <div style="float:right; width:40%;">
      <canvas id="canvas_Bar4" height="400" width="600"></canvas>
    </div>
  </div>
</div>

<style>
    .ui-dialog {
        position: absolute;
        height: auto;
        width: 80% !important;
        top: 20%;
        left: 10%;
        display: block;
    }
</style>
</html>




