
    
   <canvas id="gp_chart" width="400" height="100"></canvas>

<script type="text/javascript">
var gp_config = {
    type: 'line',
    data: ajax_call("/admin/api/gross_profit_panel_data"),
    format:currencyFormat,
   };


$(function () {
    var myRadar = new Chart(document.getElementById("gp_chart"), gp_config);

    document.getElementById("gp_chart").onclick = function(evt){
        var activePoints = myRadar.getElementsAtEvent(evt);
        var firstPoint = activePoints[0];
      if (firstPoint !== undefined)
          var fullDate = new Date()
          var months = ['','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
          as_on = fullDate.getFullYear()+"-"+months.indexOf(firstPoint._chart.config.data.labels[firstPoint._index])+"-01"
            $(".popup").show();
        mark_and_display("/admin/api/gross_profit_by_business_unit_panel_data?as_on="+as_on,"bar")
        $(".ajax_content_container").find('span').remove()
        $(".ajax_content_container").prepend('<span style=" margin: 90px;font-size: large;font-family: monospace;font-style: italic; cursor: pointer;" class="gp_popup_details"> Gross Profit By Business Unit</span><span>|</span><span  style=" margin: 90px;font-family: monospace;font-style: italic; cursor: pointer;" class="gp_popup_details"> Profit Vs Indirect Cost</span>')
        $(".gp_popup_details").on('click',function(){
      if($(this).html().replace(" ","") == "Gross Profit By Business Unit" ){
        $(".gp_popup_details").css('font-size','small')
        $(this).css('font-size','large')
        mark_and_display("/admin/api/gross_profit_by_business_unit_panel_data?as_on="+as_on,"bar")
      }else{
        $(".gp_popup_details").css('font-size','small')
        $(this).css('font-size','large')
        mark_and_display_pai("/admin/api/gross_profit_versus_indirect_cost_panel_data?as_on="+as_on,"doughnut")
      }
    })
     };
});

</script>