<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript">
 $(document).ready(function() {
    var chart = new CanvasJS.Chart("pipe_line_chart",
    {
      title: {
        text: "Pipeline"
      },
        data: [
      {
        type: "area",
        dataPoints: [//array
{ x: new Date(2016, 00, 1), y: 4500},
				        { x: new Date(2016, 01, 1), y: 4100},
				        { x: new Date(2016, 02, 1), y: 5200},
				        { x: new Date(2016, 03, 1), y: 600},
				        { x: new Date(2016, 04, 1), y: 4500},
				        { x: new Date(2016, 05, 1), y: 5000},
				        { x: new Date(2016, 06, 1), y: 4800},
				        { x: new Date(2016, 07, 1), y: 4800},
				        { x: new Date(2016, 08, 1), y: 4100},
				        { x: new Date(2016, 09, 1), y: 5000},
				        { x: new Date(2016, 10, 1), y: 4800},
				        { x: new Date(2016, 11, 1), y: 1000 }
        ]
      }
      ]
    });

    chart.render();
  })
	</script>
</head>
<body>
	<div id="pipe_line_chart" style="height: 240px; width: 100%;">
	</div>
</body>
</html>