
<html>

<body>
<canvas id="pipeline_chart" height="400" width="600"></canvas>

</body>

<div id="dialog2">
  <div class="modal-content " style="width:100%;">
    <div style="float:left; width:60%;" id="pipe_line_div">
      <canvas id="canvas_Bar8" height="400" width="600"></canvas>
    </div>
  </div>
</div>

<style>

</style>

</html>



