<html>
    <body>
       <canvas id="canvas_sb_ul" height="400" width="600"></canvas>
    </body>
</html>


<script>
    $(document).ready(function () {
    bu_responce  = ajax_call("/admin/api/utilization_by_business_units_panel_data?cache_refresh=yes")
    bu_data=[]
    $.each(Object.keys(bu_responce), function( index, bu ) {
        li={}
        li.fillColor="red"
        li.strokeColor="rgba(220,220,220,1)"
        li.data=Object.values(bu_responce[bu])
        li.axis = 1
        li.title = Object.keys(bu_responce[bu])[index]
        bu_data.push(li)
    });
    var utilisation_levels_opt = {
        canvasBorders : true,
        graphTitle : "",
        legend : true,
        inGraphDataShow : true,
        annotateDisplay : true,
        graphTitleFontSize: 10,
        barValueSpacing:40,
        mouseDownLeft: open_popup_data
    }

    utilisation_levels_data={
        labels : Object.keys(bu_responce),
        datasets : bu_data
    }
    new Chart(document.getElementById("canvas_sb_ul").getContext("2d")).Bar(utilisation_levels_data,utilisation_levels_opt);

        function open_popup_data(event, ctx, config, data, other) {
            g_type = data.datasets[other.v11].title
            g_month = data.labels[other.v12]

            if(other != null){
                $("#dialog1").dialog('open');
            }
            var as_on=""

            if (monthNames.indexOf(g_month)+1 == new Date().getMonth()){
                as_on = formatDate(new Date())
            }
            else{
                var currentTime = new Date();
                var yyear=[11,12].indexOf(monthNames.indexOf(g_month)+1) > 0 ? currentTime.getFullYear()-1 :currentTime.getFullYear()
                as_on=formatDate(LastDayOfMonth(yyear,monthNames.indexOf(g_month)+1))
            }
            console.log("====================================kkkkkk")
              var bu_sbup  = ajax_call("/admin/api/utilization_by_skills_for_business_unit_panel_data?as_on="+as_on+"&bu_name="+g_type+"&cache_refresh="+"yes")
              var bu_dbup  = ajax_call("/admin/api/utilization_by_designations_for_business_unit_panel_data?as_on="+as_on+"&bu_name="+g_type+"&cache_refresh="+"yes")
              //bu_dbup  = ajax_call("/admin/api/utilization_by_designations_for_business_unit_panel_data?as_on='2017-05-02'&bu_name='CCI'&cache_refresh='yes'")


            console.log(bu_sbup)
            console.log(bu_dbup)
            var bu_sbup_data= {
                labels: Object.keys(bu_sbup),
                datasets: [
                    {
                        fillColor: "blue",
                        strokeColor: "rgba(220,220,220,1)",
                        data: Object.values(bu_sbup),
                        axis: 1,
                        title: "2012"
                    }
                ]
            }

            var bu_dbup_data= {
                labels: Object.keys(bu_dbup),
                datasets: [
                    {
                        fillColor: "blue",
                        strokeColor: "rgba(220,220,220,1)",
                        data: Object.values(bu_dbup),
                        axis: 1,
                        title: "2012"
                    }
                ]
            }

            var  dis_opt1 = {
                canvasBorders : true,
                graphTitle : "Utilisation % across Skills",
                legend : true,
                inGraphDataShow : true,
                annotateDisplay : true,
                graphTitleFontSize: 18

            }

            var  dis_opt2 = {
                canvasBorders : true,
                graphTitle : "Utilisation Levels by Designations",
                legend : true,
                inGraphDataShow : true,
                annotateDisplay : true,
                graphTitleFontSize: 18

            }
            $("#dialog1").dialog({ title: "Utilisation Levels" });
            new Chart(document.getElementById("canvas_Bar3").getContext("2d")).Bar(bu_sbup_data,dis_opt1);
            new Chart(document.getElementById("canvas_Bar4").getContext("2d")).Bar(bu_dbup_data, dis_opt2)


        }
    });
</script>