<div class="datepicker-input-container">
<label>As On:</label> <br><input type="text" id="datepickerfrom" class="onchange" >
<i class="fa fa-calendar" class="datepicker-icon"></i>
</div>
<div class="select-container"><label>Active </label><br><%= select_tag("active", options_for_select([["All","all"],["Yes","yes"],["No","no"]])) %></div>
<div class="select-container"><label>Display  </label><br><%= select_tag("display", options_for_select([["Inflow","inflow"],["Outflow","outflow"],["Netflow","netflow"]])) %></div>
<div class="select-container"><label>Business Unit</label><br><%= select_tag("bu_dropdown", options_for_select(BusinessUnit.order('name desc').pluck('name','id').push(['All',"All"]).reverse),class:"filters") %></div>

<div id="initial_table"></div>
<%= javascript_include_tag 'sorting', 'data-turbolinks-track' => true %>

<style type="text/css">
	.table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
  }
  table {
      background-color: transparent;
  }
  table {
      border-spacing: 0;
      border-collapse: collapse;
  }

  .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: #E2E2E2;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      padding: 10px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
  }
  .table .table-row-header {
    background:#636363 !important;
    color:#FFF;
  }
  td, th {
      padding: 0;
  }
  .table th , .table td{
      font-size: 12px;
  }
  .table th {
    font-weight: 700;
  }
   #title_bar{
    padding: 0px;
    padding-left: 10px;
  }
    #active_admin_content{
    padding: 0px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  
</style>
<script type="text/javascript">
	$(document).ready(function() {
    $("#page_title").html("Resource Performance")
		$(".pagination_information,.download_links,#index_table_resource_forecasts,.pagination,.breadcrumb").hide()
		$( "#datepickerfrom" ).datepicker({ dateFormat: 'yy-mm-dd' });
		 var fullDate = new Date()
  var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
  var currentDate = fullDate.getDate() + "-" + twoDigitMonth + "-" + fullDate.getFullYear();
  $( "#datepickerfrom" ).val(currentDate)
  call_init_view()
  $("#datepickerfrom,#active,#display").on('change',function(){
    call_init_view()
  })
 })

 
 function call_init_view(){
  currentDate = $("#datepickerfrom" ).val()
  active = $("#active").find(":selected").val()
  display = $("#display").find(":selected").val()
 var numbers = currentDate.split("-"); 
var date = new Date(numbers[2]+"-"+numbers[1]+"-"+numbers[0]);
date.setMonth(date.getMonth() + 12)
to_date = new Date(date.getFullYear(),date.getMonth(),0)
    if (active == "yes" && display == "outflow"){
  responce  = ajax_call("api/active_users_outflow?from_date="+currentDate+"&to_date="+to_date.getDate()+"-"+(to_date.getMonth()+1)+"-"+to_date.getFullYear())
  var html_value = ""
     $.each( responce, function( index, value ){
       value = Object.assign(value, {"Total":value["user_total"]});
         if (index  ==  1 || (html_value.indexOf("<table") < 0)){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
      })

     html_value = html_value+"</table>"
}
if (active == "no" && display == "outflow"){
  responce  = ajax_call("api/inactive_users_outflow?from_date="+currentDate+"&to_date="+to_date.getDate()+"-"+(to_date.getMonth()+1)+"-"+to_date.getFullYear())
  var html_value = ""
     $.each( responce, function( index, value ){
       value = Object.assign(value, {"Total":value["user_total"]});
         if (index  ==  1 || (html_value.indexOf("<table") < 0)){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
      })
     
     html_value = html_value+"</table>"
}
if (active == "all" && display == "outflow"){
  responce  = ajax_call("api/all_users_outflow?from_date="+currentDate+"&to_date="+to_date.getDate()+"-"+(to_date.getMonth()+1)+"-"+to_date.getFullYear())
  var html_value = ""
     $.each( responce, function( index, value ){
       value = Object.assign(value, {"Total":value["user_total"]});
         if (index  ==  1 || (html_value.indexOf("<table") < 0)){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
      })
     
     html_value = html_value+"</table>"
}
if (active == "yes" && display == "inflow"){
  responce  = ajax_call("api/active_users_inflow?from_date="+currentDate+"&to_date="+to_date.getDate()+"-"+(to_date.getMonth()+1)+"-"+to_date.getFullYear())
  var html_value = ""
     $.each( responce, function( index, value ){
       value = Object.assign(value, {"Total":value["user_total"]});
         if (index  ==  1 || (html_value.indexOf("<table") < 0)){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
      })

     
     html_value = html_value+"</table>"
}
if (active == "no" && display == "inflow"){
  responce  = ajax_call("api/inactive_users_inflow?from_date="+currentDate+"&to_date="+to_date.getDate()+"-"+(to_date.getMonth()+1)+"-"+to_date.getFullYear())
  var html_value = ""
     $.each( responce, function( index, value ){
       value = Object.assign(value, {"Total":value["user_total"]});
         if (index  ==  1 || (html_value.indexOf("<table") < 0)){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
      })
     
     html_value = html_value+"</table>"
}
if (active == "all" && display == "inflow"){
  responce  = ajax_call("api/all_users_inflow?from_date="+currentDate+"&to_date="+to_date.getDate()+"-"+(to_date.getMonth()+1)+"-"+to_date.getFullYear())
  var html_value = ""
     $.each( responce, function( index, value ){
       value = Object.assign(value, {"Total":value["user_total"]});
         if (index  ==  1 || (html_value.indexOf("<table") < 0)){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
      })
     
     html_value = html_value+"</table>"
}
if (active == "yes" && display == "netflow"){
  responce  = ajax_call("api/active_users_netflow?from_date="+currentDate+"&to_date="+to_date.getDate()+"-"+(to_date.getMonth()+1)+"-"+to_date.getFullYear())
  var html_value = ""
     $.each( responce, function( index, value ){
       value = Object.assign(value, {"Total":value["user_total"]});
         if (index  ==  1 || (html_value.indexOf("<table") < 0)){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
      })
     
     html_value = html_value+"</table>"
}
if (active == "no" && display == "netflow"){
  responce  = ajax_call("api/inactive_users_netflow?from_date="+currentDate+"&to_date="+to_date.getDate()+"-"+(to_date.getMonth()+1)+"-"+to_date.getFullYear())
  var html_value = ""
     $.each( responce, function( index, value ){
       value = Object.assign(value, {"Total":value["user_total"]});
         if (index  ==  1 || (html_value.indexOf("<table") < 0)){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
      })
     
     html_value = html_value+"</table>"
}
if (active == "all" && display == "netflow"){
  responce  = ajax_call("api/all_users_netflow?from_date="+currentDate+"&to_date="+to_date.getDate()+"-"+(to_date.getMonth()+1)+"-"+to_date.getFullYear())
  var html_value = ""
     $.each( responce, function( index, value ){
       value = Object.assign(value, {"Total":value["user_total"]});
         if (index  ==  1 || (html_value.indexOf("<table") < 0)){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
      })
     
     html_value = html_value+"</table>"
}
     $("#initial_table").html(html_value)
     var m = {}
function ReplaceNumberWithCommas(yourNumber) {
    //Seperates the components of the number
    var n= yourNumber.toString().split(".");
    //Comma-fies the first part
    n[0] = n[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    //Combines the two sections
    return n.join(".");
}
$.each($("#initial_table").find("td"), function(){
      if (($.inArray($(this).attr('class'), [ "id", "name", "business_unit","date_of_joining","date_of_leaving","active"] ) == -1)){
        if (isNaN(parseInt(m[$(this).attr('class')]))){
          m[$(this).attr('class')] = 0
        console.log(m[$(this).attr('class')])
        }
        else{
        console.log(m[$(this).attr('class')])
        m[$(this).attr('class')] =parseInt(m[$(this).attr('class')]) + parseInt($(this).html().replace(/[^\d.]/g, ''))
        }
      }
      else{
        m[$(this).attr('class')] = ""
        
      }
    })
  $.each(m, function(key, value) {
                if (value != ""){
                 m[key] = "₹"+ReplaceNumberWithCommas(value)
                }
                  });
    
     if ($("#bu_dropdown").find(":selected").val() != "All"){
      var current_val = $("#bu_dropdown").find(":selected").val()
      $.each($("#initial_table").find("td.business_unit"), function(){
        if ($(this).html() != current_val){
          $(this).parent().hide()
        }
        else{
          $(this).parent().show()
        }
      })
     }
    $("#initial_table").html(html_value+"<table class = 'table table-striped'>"+return_only_t_data(m)+"</table>")
$.each($("#initial_table").find('table.initial_table_disp').find("td"), function(){
  $("."+$(this).attr('class')).width($(this).width())
})
 $.each($("#initial_table").find("td.active"), function(){

      if ($(this).html() == "true"){
        $(this).html("Yes")
      }
      else{
        $(this).html("No")
      }

     })
     $(".user_total").hide()
  $("#initial_table").find('table').first().addClass("semi-transparent-table")
  $(".semi-transparent-table").find(".table-row-header").first().attr('style', 'background-color: #23457d !important; color: #FFF !important');
  sorting_table($("#initial_table").find('table'))
 sorting_table($("#initial_table").find('table.initial_table_disp'))

 }
$("#initial_table").find('.user_total').hide()
 $("#bu_dropdown").on('change',function(){
  if ($("#bu_dropdown").find(":selected").val() != "All"){
      var current_val = $("#bu_dropdown").find(":selected").val()
      $.each($("#initial_table").find("td.business_unit"), function(){
        if ($(this).html() == current_val){
          $(this).parent().show()
        }
        else{
          $(this).parent().hide()
        }
      })
     }
     else{
      $.each($("#initial_table").find("td.business_unit"), function(){$(this).parent().show()})
     }
 })
          function return_only_t_data(responce){
             var ajax_content_value = "</tr><tr>"
             $.each(responce, function(key, value) {
              value = (value == null) ? "" : value
                  ajax_content_value +="<td class='"+key.replace(" ", "_")+"'style = 'border: 1px solid #ddd;' >"+value+"</td>" 
                  });
           ajax_content_value +="</tr>"
           return ajax_content_value
          }

          function convert_ajax_to_htm(responce){
   var ajax_content_value = "<table class = 'table table-striped initial_table_disp'><tr class ='table-row-header'>"
           $.each(responce, function(key, value) {
                  ajax_content_value +="<th class='"+key.replace(" ", "_")+" sort_up 'style = 'border: 1px solid #ddd;'>"+key.replace(/_/g," ").toUpperCase()+"</th>" 
                  });
           ajax_content_value += "</tr><tr>"
             $.each(responce, function(key, value) {
              value = (value == null) ? "" : value
                  ajax_content_value +="<td class='"+key.replace(" ", "_")+"'style = 'border: 1px solid #ddd;' >"+value+"</td>" 
                  });
           ajax_content_value +="</tr></table>"
           return ajax_content_value
          }

	function ajax_call(url) {
	    var responce = ""
	 $.ajax({
	        async: false,
	        url: url,
	          dataType: 'json',
	        success: function (data) {
	           responce =  data;
	        }
	    })
	 return responce;
	}
</script>