<div class='full_width_container'>
<div class="datepicker-input-container">
<label>As On:</label><br> <input type="text" id="datepicker"> 
<i class="fa fa-calendar" class="datepicker-icon"></i>
</div>
<div style="float:left;margin-top: 25px;">
  <span style="color: #FFF;">Period:</span>
  <b style="color: #FFF;" ><span class="period" ></span></b>
</div>
</div>

  <%= javascript_include_tag 'sorting', 'data-turbolinks-track' => true %>

<%@pipeline_status=PipelineStatus.pluck('name','id')%>
<%@pipeline_status.each do |status|%>
<span class=<%=status[0]%> id=<%=status[1]%> >  </span>
<%end%>
<div id="initial_table"></div>
<style type="text/css">
	
	.table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
  }
  table {
      background-color: transparent;
  }
  table {
      border-spacing: 0;
      border-collapse: collapse;
  }

  .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: #E2E2E2;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      padding: 10px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
  }
  .table .table-row-header {
    background:#636363;
  }
  td, th {
      padding: 0;
  }
  
  .table td{
      font-size: 14px;
  }
  .table th {
    font-size: 13px;
    font-weight: 700;
  }
  td.current_month{
  	 background-color: rgba(95, 158, 160, 0.46);;
  }
</style>