<div class="datepicker-input-container">
<label>As On:</label> <input type="text" id="datepicker" style="text-align:center;width: 90px;margin-right: 20px;"> <i class="fa fa-calendar" class="datepicker-icon"></i>
</div>
  <%= javascript_include_tag 'sorting', 'data-turbolinks-track' => true %>

<div id="initial_table"></div>
<style type="text/css">
	.table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
  }
  table {
      background-color: transparent;
  }
  table {
      border-spacing: 0;
      border-collapse: collapse;
  }

  .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: #E2E2E2;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      padding: 10px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
  }
  .table .table-row-header {
    background:#636363 !important;
    color:#FFF;
  }
  td, th {
      padding: 0;
  }
  .table th , .table td{
      font-size: 12px;
  }
  .table th {
    font-weight: 700;
  }
   #title_bar{
    padding: 0px;
    padding-left: 10px;
  }
</style>
<script type="text/javascript">
	$(document).ready(function() {
    $("#page_title").html("Resource Forecast")
		$(".pagination_information,.pagination,.breadcrumb,.download_links,#index_table_resource_forecasts").hide()
		$( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
		 var fullDate = new Date()
  var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : '0' + (fullDate.getMonth()+1);
  var currentDate = fullDate.getDate() + "/" + twoDigitMonth + "/" + fullDate.getFullYear();
    responce  = ajax_call("api/staffing_forecast?as_on="+currentDate+"&with_details=false")
    var html_value = ""
     $.each( responce["data"], function( index, value ){
      value1 = Object.assign(value, value["resource_details"]);
         if (index  ==  0){
                  html_value += convert_ajax_to_htm(value1).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value1)
                }
      })
      $("#initial_table").html(html_value) 
      $(".skill_id,.designation_id").hide()
        $.each($("td.total_resource_cost"), function( index1, value1 ){
     $(this).text("$"+$(this).text())
      })
        $.each($("td.average_resource_cost"), function( index1, value1 ){
     $(this).text("$"+$(this).text())
      }) 
         $.each($("td.staffing_required,td.staffing_fulfilled,td.deployable_resources"), function( index1, value1 ){
        $(this).addClass("text_link")
        $(this).attr('data-popup-open', 'popup-1');
      })
        pop_up_view(currentDate)


      $("#datepicker").on('change',function(){
      	currentDate = $(this).val()
      	 responce  = ajax_call("api/staffing_forecast?as_on="+currentDate+"&with_details=false")
    var html_value = ""
     $.each( responce["data"], function( index, value ){
      value1 = Object.assign(value, value["resource_details"]);

         if (index  ==  0){
                  html_value += convert_ajax_to_htm(value1).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value1)
                }


      })

      $("#initial_table").html(html_value) 

  
      sorting_table($("#initial_table").find('table'))

      $(".skill_id,.designation_id").hide()
        $.each($("td.total_resource_cost"), function( index1, value1 ){
     $(this).text("$"+$(this).text())
      })
        $.each($("td.average_resource_cost"), function( index1, value1 ){
     $(this).text("$"+$(this).text())
      }) 
         $.each($("td.staffing_required,td.staffing_fulfilled,td.deployable_resources"), function( index1, value1 ){
        $(this).addClass("text_link")
        $(this).attr('data-popup-open', 'popup-1');

      })
         pop_up_view(currentDate)
         	 $('[data-popup-open]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
        $(".dropdown_menu").toggle()
        e.preventDefault();
    });
 
    $('[data-popup-close]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(10);
        $(".dropdown_menu").toggle()
        e.preventDefault();
    });
    if ($("#initial_table").html() == ""){
      	$("#initial_table").html("<span style ='margin-left: 450px;'><b>No Records Found For Date: "+currentDate+"</b></span>")
      }
      })
      $("#datepicker").val(currentDate)
       if ($("#initial_table").html() == ""){
      	$("#initial_table").html("<span style ='margin-left: 450px;'><b>No Records Found For Date: "+currentDate+"</b></span>")
      }
         })

      function pop_up_view(currentDate){
         $(".staffing_required,.deployable_resources,.staffing_fulfilled").on('click',function(){
	
		// $.each( responce["data"], function( index, value ){
  //               if (index  ==  0){
  //                 html_value += convert_ajax_to_htm(value).replace("</table>","")
  //               }
  //               else{
  //                 html_value += return_only_t_data(value)
  //               }
  //           });
  //           html_value += "</table>"
              skill = $(this).parent().find(".skill_id").html()
              designation = $(this).parent().find(".designation_id").html()
            if( (jQuery.inArray("staffing_required",$(this).attr('class').split(" ")))== 0)
            {
              $(".modal-header").append("<span class= 'hiddding_header'style='font-family: fantasy;font-size: 20px;align-self: center;margin-top: 900px;margin-left: 460px;'>Staffing Required"+" As On "+currentDate+"</span>")
                $(".hiddding_header").hide()
                $(".hiddding_header").last().show()
                responce  = ajax_call("api/staffing_required?as_on="+currentDate+"&skill_id="+skill+"&designation_id="+designation+"&with_details=true")
    var html_value = "<span id='close' style='cursor:pointer' hidden></span>"
              $.each( responce["details"], function( index, value ){
                if (index  ==  0){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
            });
              html_value += "</table>"
            }
             if( (jQuery.inArray("staffing_fulfilled",$(this).attr('class').split(" ")))== 0)
               $(".modal-header").append("<span class= 'hiddding_header'style='font-family: fantasy;font-size: 20px;align-self: center;margin-top: 900px;margin-left: 460px;'>Staffing Fulfilled"+" As On "+currentDate+"</span>")
                $(".hiddding_header").hide()
                $(".hiddding_header").last().show()
              responce  = ajax_call("api/staffing_fulfilled?as_on="+currentDate+"&skill_id="+skill+"&designation_id="+designation+"&with_details=true")
    var html_value = "<span id='close' style='cursor:pointer' hidden></span>"
            {
                $.each( responce["details"], function( index, value ){
                if (index  ==  0){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
                });
                html_value += "</table>"
              }
              if( (jQuery.inArray("deployable_resources",$(this).attr('class').split(" ")))== 0)
            {
               $(".modal-header").append("<span class= 'hiddding_header'style='font-family: fantasy;font-size: 20px;align-self: center;margin-top: 900px;margin-left: 460px;'>Deployable Resource"+" As On "+currentDate+"</span>")
                $(".hiddding_header").hide()
                $(".hiddding_header").last().show()
              responce  = ajax_call("api/deployable_resources?as_on="+currentDate+"&skill_id="+skill+"&designation_id="+designation+"&with_details=true")
    var html_value = "<span id='close' style='cursor:pointer' hidden></span>"
                    $.each( responce["details"], function( index, value ){
                if (index  ==  0){
                  html_value += convert_ajax_to_htm(value).replace("</table>","")
                }
                else{
                  html_value += return_only_t_data(value)
                }
                });
                html_value += "</table>"
              }
            
		$(".ajax_content").html(html_value)
    $("#initial_table").find('table').first().addClass("semi-transparent-table")
  $(".semi-transparent-table").find(".table-row-header").first().attr('style', 'background-color: #23457d !important; color: #FFF !important');
    sorting_table($(".ajax_content").find('table'))
		$(".created_at,.updated_at,.deleted_at,.comments,.data,.staffing_required_details,.staffing_fulfilled_details,.deployable_resources_details,.id,.admin_user_id").hide()
	
})
     }
         function return_only_t_data(responce){
             var ajax_content_value = "</tr><tr>"
             $.each(responce, function(key, value) {
                  ajax_content_value +="<td class='"+key.replace(" ", "_")+"'style = 'border: 1px solid #ddd;' >"+value+"</td>" 
                  });
           ajax_content_value +="</tr>"
           return ajax_content_value
          }

          function convert_ajax_to_htm(responce){
   var ajax_content_value = "<table class = 'table table-striped'><tr class ='table-row-header'>"
           $.each(responce, function(key, value) {
                  ajax_content_value +="<th class='"+key.replace(" ", "_")+" sort_up 'style = 'border: 1px solid #ddd;'>"+key.replace(/_/g," ").toUpperCase()+"</th>" 
                  });
           ajax_content_value += "</tr><tr>"
             $.each(responce, function(key, value) {
                  ajax_content_value +="<td class='"+key.replace(" ", "_")+"'style = 'border: 1px solid #ddd;' >"+value+"</td>" 
                  });
           ajax_content_value +="</tr></table>"
           return ajax_content_value
          }

	function ajax_call(url) {
	    var responce = ""
	 $.ajax({
	        async: false,
	        url: url,
	          dataType: 'json',
	        success: function (data) {
	           responce =  data;
	        }
	    })
	 return responce;
	}


    $('[data-popup-open]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-open');
        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
        $(".dropdown_menu").toggle()
        e.preventDefault();
    });
 
    $('[data-popup-close]').on('click', function(e)  {
        var targeted_popup_class = jQuery(this).attr('data-popup-close');
        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(10);
        $(".dropdown_menu").toggle()
        e.preventDefault();
    });
</script>